* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Questrial';
  font-size: 1em;
}
body {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}
@media (max-width: 480px) {
  .photo {
    display: none;
  }
  main {
    text-align: center;
  }
}
header{
  background-color:#2056ac;
  padding:7%;
  width: 1300px;
  margin:auto;
  text-align: center;
}
main {
  max-width: 1200px;
  margin: auto;
  /*padding-top: 2%;*/

}
article section div {
  background-color: #ffffff;
}
footer {
  background-color:#2056ac;
  padding: 5%;
}
h1 {
  font-size: 3em;
  font-weight: bold;
  padding:1%;

}
h2 {
  font-size: 2.5em;
  font-weight: bold;
}
h3{
  font-size: 1.7em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
nav {
 display:inline-block;
 margin-bottom:-6%;
}
ul {
  list-style-type: none;
  font-size: 0.87em;
}
ul li {
  float: left;
}
ul li a{
  color: #fff;
  text-decoration: none;
  padding:15px;
  width: 33%;
}
a:hover{
  color:#2056ac;
  background-color: #ffffff;
  padding: 10% 10% 35% 10%;
  border-radius: 7%;

}
img {
  width: 1200px;
  height:500px;
  margin: auto;
  padding-top: 4em;
  padding-bottom: 5.2em;
}
.intro {
  padding: 4%;
}
.a article{
  display:inline-block;
  width: 33%;
  padding: 5%;
}
.b article{
  display:inline-block;
  width: 24.5%;
  padding: 5%;
}

.bouton {
  background-color: #2056ac;
  border: 0px;
  padding: 4%;
  padding-left: 6%;
  padding-right: 6%;

}
.bouton a{
  text-decoration: none;
  color: #ffffff;
}
.info {

  background-color: #E3F0F7;
  max-width: 1300px
}
.info div {
  display: inline-block;
  width: 32%;
  height: 100%
  line-height: none;
  padding: 4%;
  vertical-align: top;
}

article section p {
  display:inline-block;
  word-spacing: 0.125em;
  line-height: 1.250em;
  padding: 5%;
}
.fa i {
  background-color: #64ABD1;
  padding: 0.2em;
  margin-top: 1.5em;

}
